{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue dans ce Blog!</h1>

<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. "</p>

<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. "</p>

{% endblock %}